*{
    marign:0;
    padding :0;
    box-sizing:border-box;
}
:root{
    --blue:#287bdd;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999
}
body{
    overflow-x:hidden;  
}
.container{
    position: relative;
    width:100%;
}
.navigation{
    position:fixed;
    width:250px;
    height:100%;
    background: var(--blue);
    border-left:10px solid var(--blue);
    transition: 0.5s;
    overflow:hidden
}
.active{
    width:80px
}

.navigation ul{
    position:absolute;
    top:0;
    left:0;
    width :100%
}
.navigation ul li{
    position: relative;
    width:100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li .hovered
{
    background: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom: 50px ;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:var(--white);
}

.navigation ul li:hover a,
.navigation ul li .hovered a
{
    color: var(--blue);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height:  60px;
    line-height: 60px;
    text-align: start;
}
.navigation ul li:hover a::before,
.navigation ul li .hovered a::before
{
    content: '';
    position: absolute;
   right:0;
    width: 50px;
     height: 50px;
     background: transparent; 
    top:-50px;
    border-radius: 50%; 
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li .hovered a::after
{
    content: '';
    position: absolute;
   right:0;
    width: 50px;
     height: 50px;
     background: transparent; 
    bottom:-50px;
    border-radius: 50%; 
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
.main{
    position: absolute;
    width :calc(100%-320px);
    left:250px;
    background: var(--white);
    transition: 0.5s;
}
.topbar{
    width :100%;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding :0 10px;
}
.toggle{
    position: relative;
    top:0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
.active2{
    width :calc(100%-120px);
    left :120px;
}

.cardbox{
    position: relative;
    width: 80%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardbox .card{
    position: relative;
    background: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

.cardbox .card .numbers{
    position: relative;
    font-weight: 500px;
    font-size: 2.5em;
    color: var(--blue);

}

.cardbox .card .cardName{
    color: var(--black1);
    font-size: 0.8em;
    margin-top: 5px;

}

.cardbox .card .IconBox{
    font-size: 2.5em;
    color:var(--black2);
    margin-left: 40px;
}
.cardbox .card:hover{
    background-color: var(--blue);
}

.cardbox .card:hover .numbers,
.cardbox .card:hover .cardName,
.cardbox .card:hover .IconBox{
    color: var(--white);
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 60px;
    margin-top: 10px;
    width:1400px
}
.details .recentCustomers{
    position: relative;
    display: grid;
    background: var(--white);
    padding: 20px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.13);
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}
.btn{
    position: relative;
    padding:  5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    margin-top: 20px;
    transition: 0.5s;
}
.btn:hover{
    background: rgb(5, 5, 117)
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details .recentCustomers table thead{
    font-size: 20px;
    font-weight: 700px;
    background: var(--blue);
    color: var(--white);
    border-radius: 15px;
    
}

.details .recentCustomers table thead tr{
    color: var(--white);
    padding: 2px 2px;
    border:1px solid black;
    border-radius: 15px;
}
.details table tr:nth-child(even){
    background-color: #f2f2f2;
}
.details .recentCustomers table{
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}


.details .recentCustomers table tr{
    color: var(--black1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}
.details .recentCustomers table tr:last-child{
    border-bottom: none;
}

.details .recentCustomers table tr:hover{
    background: var(--blue);
    color: var(--white);
}

.details .recentCustomers table tr td{
    padding: 10px;
}

.details .recentCustomers table tr td:last-child{
    text-align: end;
}

.details .recentCustomers table tr td:nth-child(2){
text-align: end;
}
.details .recentCustomers table tr td:nth-child(3){
    text-align: center;
}

.status.NormalAcc{
    padding: 4px 4px;
    background: #13ac2d;
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}
.status.BusinessAcc{
    padding: 4px 4px;
    background: #2022b4;
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.graphBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1.5fr 2.3fr;
    grid-gap: 30px;
    margin-top: 10px;
    width: 1200px;
    min-height: 250px;
   
}
.graphBox .box{
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.13);
    border-radius: 20px;

}

